.titulo{
text-align: center;
margin: 70px;
background-color:lightblue;
}

.jogos {
    text-align: center;
    margin:auto;
    border-style: solid;
    border-radius: 25px;
    margin: 70px;

}
.numero{
    margin: 70px;
}

.somando{
    text-align: center;
    margin: auto;
}

.soma{
    text-align: center;
    margin: 70px;
    font-size: 40px;
    background-color: lightblue;
}
button{
    margin-top: 50px;
    padding: 10px;
}
